.container {
  display: grid;
  position: fixed;
  top: 34vh;
  right: 12vh;
  z-index: 1;
}

@media only screen and (min-width: 700px) and (max-width: 1200px)  {
  .container {
    right: 7vw;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    position: absolute;
    top: 2.2vh;
    right: 17vw;
  }

  .subContainer {
    display: grid;
    justify-items: none;
  }

  .colorBox {
    width: 2vw;
  }
}

.subContainer {
  display: grid;
  justify-items: center;
  position: absolute;
}

.colorBox {
  width: 3.5vh;
  height: 3.5vh;
  cursor: pointer;
  border: solid;
  border-radius: 50%;
  border-width: 0.5vh;
  margin: 1.3vh;
}
