.image {
  cursor: pointer;
}

.listContainer {
  width: 10vw;
  height: 30vh;
  position: absolute;
  z-index: 1;
  right: 0vw;
  display: grid;
  justify-items: center;
  margin-top: 10vh;
}

@media only screen and (min-width: 700px) and (max-width: 1200px)  {
  .listContainer {
    right: -4vw;
  }
}

@media (max-width: 700px) {
  .listContainer {
    width: 10vw;
    height: 23vh;
    position: absolute;
    z-index: 1;
    display: grid;
    justify-items: center;
    margin-top: 11vh;
    margin-right: 7vw;
  }
}
