.image {
  cursor: pointer;
}

.listContainer {
  width: 10vw;
  height: 27vh;
  position: fixed;
  z-index: 1;
  right: 10vh;
  display: grid;
  justify-items: center;
  margin-top: 10vh;
}

@media only screen and (min-width: 700px) and (max-width: 1200px)  {
  .listContainer {
    right: 6vw;
  }
}

@media (max-width: 700px) {
  .listContainer {
    width: 10vw;
    height: 27vh;
    position: absolute;
    z-index: 1;
    display: grid;
    justify-items: center;
    margin-top: 8vh;
    margin-right: 9vw;
    right: 14vw;
  }
}
