.itemContainer {
  width: 50vw;
  min-height: 23vh;
  background-color: #FDB92E;
  border-style: solid;
  border-width: 0.8vh;
  border-radius: 3vh;
  font-family: 'Lovelo';
  font-size: 5vh;
  margin-top: 4vh;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

@media (min-width: 700px) {
  .itemContainer:hover {
    transform: translate(5px, -5px);
  }
}

@media (max-width: 700px) {
  .itemContainer {
    width: 80vw;
    min-height: 23vh;
    background-color: #FDB92E;
    border-style: solid;
    border-width: 0.7vh;
    border-radius: 2vh;
    font-family: 'Lovelo';
    font-size: 5vh;
    margin-top: 3vh;
  }
}

.innerContainer {
  display: flex;
  justify-items: center;
}

.degreeShorthand {
  width: 15vw;
  height: 20vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 6vh;
  margin-top: 2vh;
}

.main {
  height: 20vh;
  margin-top: 2vh;
}

@media only screen and (min-width: 700px) and (max-width: 1200px)  {
  .itemContainer {
    width: 65vw;
  }

  .main {
    height: 20vh;
    width: 65vw;
    margin-top: 2vh;
    display: grid;
    justify-items: center;
  }
}

@media (max-width: 700px) {
  .main {
    height: 20vh;
    margin-top: 1.5vh;
    margin-left: 3.3vw;
    display: grid;
    align-items: center;
  }
}

.university {
  font-size: 3.2vh;
}

@media (max-width: 700px) {
  .university {
    font-size: 2.75vh;
  }
}

.degree {
  margin-top: -2.3vh;
  font-size: 2.5vh;
}

@media (max-width: 700px) {
  .degree {
    margin-top: -1.5vh;
    font-size: 2vh;
  }
}

.infoLine {
  display: flex;
  justify-items: start;
  align-items: center;
  font-size: 2vh;
  margin-top: -3vh;
}

@media (max-width: 700px) {
  .infoLine {
    display: flex;
    justify-items: start;
    align-items: center;
    font-size: 1.75vh;
    margin-top: -2.5vh;
  }
}

.dashedLine {
  height: 0vh;
  width: 13vw;
  border-style: dashed;
  border-width: 0.3vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.iconRow {
  display: grid;
  justify-items: center;
  margin-top: -5vh;
}

@media (max-width: 700px) {
  .iconRow {
    display: grid;
    justify-items: center;
    margin-top: -3.5vh;
  }
}

.arrowIcon {
  transition: transform 0.2s ease-in-out;
}

.itemContainer:hover .arrowIcon {
  transform: rotate(180deg) translateY(1vh);
}

.openContainer {
  transition: all 0.5s;
  height: 30vh;
  margin-top: -6.5vh;
  margin-bottom: 5vh;
}

@media (max-width: 700px) {
  .openContainer {
    transition: all 0.5s;
    height: 45vh;
    display: grid;
    align-items: start;
    margin-top: 1vh;
    margin-bottom: 0vh;
  }
}

.closedContainer {
  transition: all 0.7s;
  height: 0vh
}

@media (max-width: 700px) {
  .closedContainer {
    transition: all 0.5s;
    height: 4vh;
  }
}

.courseworkContainer {
  width: 50vw;
  height: 20vh;
  font-family: "Lora";
  font-size: 2.2vh;
  display: grid;
  margin-left: 2vw;
}

@media (max-width: 700px) {
  .courseworkContainer {
    width: 50vw;
    height: 20vh;
    font-family: "Lora";
    font-size: 1.7vh;
    display: grid;
    margin-top: -1.5vh;
    margin-left: -3vw;
  }
}

@media (max-width: 700px) {
  .course {
    width: 80vw;
    height: 5vh;
    padding-left: 5vw;
    padding-top: -1vh;
    display: flex;
    justify-items: start;
  }

  .courseLabel {
    width: 65vw;
    height: 5vh;
    padding-left: 5vw;
    padding-top: -1vh;
    display: flex;
    justify-items: start;
    align-items: center;
  }
}

@media (min-width: 700px) {
  .course {
    width: 23vw;
    height: 5vh;
  }

  .courseLabel {
    width: 19vw;
    height: 5vh;
    display: flex;
    justify-items: start;
    align-items: center;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px)  {
  .course {
    width: 25vw;
  }

  .courseLabel {
    width: 25vw;
    margin-left: 2vh;
  }

  .courseworkContainer {
    margin-left: -1vw;
  }
}

@media screen and (max-height: 700px) {
  .openContainer {
    min-height: 37vh;
    margin-bottom: 5vh;
  }
}

