.container {
  z-index: 0;
  width: 95vw;
  position: absolute;
  top: 25vh;
  display: grid;
  justify-items: center;
}

.imageContainer {
  display: grid;
  justify-items: center;
  margin-bottom: 10vh;
  margin-top: 10vh
}

@media (max-width: 700px) {
  .imageContainer {
    display: grid;
    justify-items: center;
    margin-bottom: 10vh;
    margin-top: 15vh;
  }
}

.summaryContainer {
  display: grid;
  justify-items: center;
  font-family: 'Lovelo';
  font-size: 2.5vh;
}

.summaryLine {
  margin-top: 1vh;
}
