.pdfContainer {
  margin-top: 15vh;
}

.pageContainer {
  border: solid;
  border-radius: 2vh;
  border-width: 0.7vh;
  padding: 5px;
}

.downloadButton {
  font-family: 'Lovelo';
  text-decoration: none;
  border: solid;
  border-radius: 1vh;
  border-width: 0.5vh;
  border-color: black;
  padding: 0 10px;
  margin-bottom: 3vh;
}

@media (max-width: 700px) {
  .menuOpenContainer {
    width: 95vw;
    z-index: 0;
    display: grid;
    justify-items: center;
    position: absolute;
    align-items: center;
    top: 40vh;
    padding-bottom: 10vh;
    transition: all 80ms ease-in-out;
  }

  .menuClosedContainer {
    width: 95vw;
    z-index: 0;
    display: grid;
    justify-items: center;
    position: absolute;
    align-items: center;
    top: 10vh;
    padding-bottom: 10vh;
    transition: all 0.8s ease-in-out;
  }

  .downloadButton {
    margin-bottom: 2vh;
  }

  .pageContainer {
    border-radius: 1vh;
    border-width: 0.5vh;
  }
}
