.container {
  display: grid;
  justify-content: center;
  width: 95vw;
  margin-bottom: 15vh;
}

.backButton {
  position: fixed;
  top: 3vh;
  left: 3vh;
}

.title {
  font-family: "Lovelo";
  font-size: 3vh;
  margin-top: 7.5vh;
}

.fullWidthLine {
  display: flex;
  justify-content: center;
  width: 95vw;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  font-family: "Lora";
  font-size: 2vh;
  width: 35vw;
  .leftSubHeader {
    max-width: 17.5vw;
  }
  .rightSubHeader {
    max-width: 17.5vw;
    display: flex;
    align-items: center;
    .linkButton {
      width: 5vh;
      height: 5vh;
      background-color: black;
      border-radius: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .linkName {
      margin-left: 1vw;
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.bodyContainer {
  display: grid;
  justify-items: center;
  width: 95vw;
  font-family: "Lora";
}

.photoContainer {
  width: 45vw;
  border: solid;
  border-radius: 1.5vh;
  border-width: 0.4vh;
  border-color: black;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.paragraph {
  width: 45vw;
}
