.container {
  height: 90vh;
  display: grid;
  justify-items: center;
}

.burgerMenuLine {
  width: 95vw;
  height: 3vh;
  justify-items: start;
  z-index: 2;
}

.burgerMenu {
  margin-left: 0.3vw;
  margin-top: 2vw;
}

@media (max-width: 700px) {
  .burgerMenu {
    margin-left: 4vw;
    margin-top: 4vw;
  }
}

.menuContainer {
  position: absolute;
  height: 95vh;
  width: 95vw;
  display: grid;
  align-items: center;
}

@media (max-width: 700px) {
  .menuContainer {
    position: absolute;
    height: 95vh;
    width: 95vw;
    display: grid;
    align-items: start;
  }
}
