.container {
  height: 95vh;
  display: grid;
  justify-items: center;
}

.burgerMenuLine {
  width: 95vw;
  justify-items: start;
  z-index: 1;
  position: fixed;
}

.burgerMenu {
  margin-left: 0.3vw;
  margin-top: 2vw;
  position: fixed;
}

@media (max-width: 700px) {
  .burgerMenuLine {
    position: absolute;
  }

  .burgerMenu {
    position: absolute;
    margin-left: 4vw;
    margin-top: 4vw;
  }
}

.menuContainer {
  position: absolute;
  height: 95vh;
  width: 95vw;
  display: grid;
  align-items: center;
}

@media only screen and (min-width: 700px) and (max-width: 1200px)  {
  .menuContainer {
    margin-left: -5vh;
  }
}

@media (max-width: 700px) {
  .menuContainer {
    position: absolute;
    height: 95vh;
    width: 95vw;
    display: grid;
    align-items: start;
  }
}
